---
import BaseLayout from "../layouts/BaseLayout.astro";
import Sidebar from "../components/Sidebar.astro";
import DrawingMap from "../components/DrawingMap.astro";
import DemoMap from "../components/DemoMap.astro";
---

<BaseLayout>
  <main
    style="display: flex; flex-direction: row; height: 100%; width: 100%;"
  >
    <aside style="flex: 1;">
      <Sidebar />
    </aside>
    <div style="flex: 3;" id="content">
      <div id="drawing-map-container" style="display: none;">
        <DrawingMap />
      </div>
      <div id="demo-map-container" style="display: block;">
        <DemoMap />
      </div>
    </div>
  </main>

  <script is:inline>
    // Function to toggle maps
    function toggleMap(showDemo) {
      const drawingMapContainer = document.getElementById("drawing-map-container");
      const demoMapContainer = document.getElementById("demo-map-container");
      
      if (showDemo) {
        drawingMapContainer.style.display = "none";
        demoMapContainer.style.display = "block";
      } else {
        drawingMapContainer.style.display = "block";
        demoMapContainer.style.display = "none";
      }
    }

    // Listen for toggle event
    document.addEventListener("toggleMap", (event) => {
      toggleMap(event.detail.showDemo);
    });
  </script>
</BaseLayout>