<p style="font-family: roboto, sans-serif">Search for a place here:</p>

<!-- prettier-ignore -->

<script>
  async function initMap() {
    // Request needed libraries.
    //@ts-ignore

    await google.maps.importLibrary("places");

    // Create the input HTML element, and append it.
    //@ts-ignore
    const placeAutocomplete = new google.maps.places.PlaceAutocompleteElement();

    //@ts-ignore
    document.body.appendChild(placeAutocomplete);

    // Inject HTML UI.
    const selectedPlaceTitle = document.createElement("p");

    selectedPlaceTitle.textContent = "";
    document.body.appendChild(selectedPlaceTitle);

    const selectedPlaceInfo = document.createElement("pre");

    selectedPlaceInfo.textContent = "";
    document.body.appendChild(selectedPlaceInfo);
    // Add the gmp-placeselect listener, and display the results.
    //@ts-ignore
    placeAutocomplete.addEventListener("gmp-placeselect", async ({ place }) => {
      await place.fetchFields({
        fields: ["displayName", "formattedAddress", "location"],
      });
      selectedPlaceTitle.textContent = "Selected Place:";
      selectedPlaceInfo.textContent = JSON.stringify(
        place.toJSON(),
        /* replacer */ null,
        /* space */ 2
      );
    });
  }

  initMap();
</script>

<style>
  #map {
    height: 100%;
  }

  /* 
   * Optional: Makes the sample page fill the window. 
   */
  html,
  body {
    height: 10dvh;
    margin: 0;
    padding: 0;
  }

  p {
    font-family: Roboto, sans-serif;
    font-weight: bold;
  }

  gmp-place-autocomplete {
    width: 200px;
  }
</style>
