<aside>
  <h2>🚀 About this template</h2>
</aside>
<div id="map-container">
  <gmp-map-3d
    id="map"
    mode="satellite"
    center="40.7144, -74.0208, 900"
    heading="122.70114510660413"
    range="377.593743117759"
    roll="0"
    tilt="0"
  >
    <!-- <gmp-model-3d
        position="40.7144, -74.0208, 0"
        altitude-mode="clamp-to-ground"
        scale="2"
        orientation="90,-90,0"
        src="/airdome.glb"></gmp-model-3d> -->

    <gmp-polygon-3d
      altitude-mode="relative-to-ground"
      fill-color="rgba(255, 0, 0, 0.5)"
      stroke-color="#0000ff"
      stroke-width="8"
      draggable
      ><gmp-polygon-3d> </gmp-polygon-3d>

      <gmp-polyline-3d
        altitude-mode="relative-to-ground"
        stroke-color="rgba(25, 102, 210, 0.75)"
        stroke-width="10"></gmp-polyline-3d>
    </gmp-polygon-3d>
  </gmp-map-3d>

  <script is:inline>
    const polygon = document.querySelector("gmp-polygon-3d");

    async function init() {
      // Import the needed libraries.

      polygon.outerCoordinates = [
        { lat: 40.7144, lng: -74.0208, altitude: 1000 },
        { lat: 40.6993, lng: -74.019, altitude: 1000 },
        { lat: 40.7035, lng: -74.0004, altitude: 1000 },
        { lat: 40.7144, lng: -74.0208, altitude: 1000 },
      ];

      map.addEventListener("gmp-click", () => {
        console.log("HereHEre");
      });
    }

    async function waitForGoogleMapsAPI() {
      return new Promise((resolve) => {
        if (window.google && window.google.maps) {
          resolve();
        } else {
          const interval = setInterval(() => {
            if (window.google && window.google.maps) {
              clearInterval(interval);
              resolve();
            }
          }, 50); // Check every 50 milliseconds
        }
      });
    }

    init()
  </script>
</div>
<style>
  gmp-map-3d {
    margin-top: 20%;
    width: 60%;
    height: 60%;
  }

  main {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    background-color: red;
  }

  aside {
    padding: 24px;
    flex: 1;
    background-color: blue;
  }

  #map-container {
    flex: 3;
    background-color: green;
  }
</style>
